@charset="UTF-8";

/* ESTILO DO CORPO DO BEM-VINDO*/
body{
	width: 100%;
	margin: auto;	
	font-family: Arial, sans-serif;
	background-color: #F5F5F5;
	color: rgba(0, 0, 0, 1);
}

div.divisaoPaginaBemVindo{
	width: 99%;
	height:70%;
	/*border: 5px solid #000000;*/
	margin-bottom: 350px;
}

/* CONFIGURAÇÃO DA MARGEM DO TITULO H1 */
header#cabecalho h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 30pt;
	color: 606060;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 0px;
	margin-bottom: 0px;
	top: 10px;
	left: 550px;
}


header#cabecalho h2{
	text-align: center;
	top: 80px;
	left: 550px;
}

p#formCadastro, p#listaDeCadastrado{
	text-align: center;
	font-size: 20px;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.divisaoPaginaRodape{
	width: 99%;
	background: #000000;
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
	text-align: center;
	text-indent: 30px;
	color: #FFFFFF;
}





